.register-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    
}
.register-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;
}
.title-register{
   text-align: left;
 
}